<html>
<body>

<h1>Welcome {{user.name}}</h1>
your email is: {{user.email}}<br />

<div id="main">
</div>
<a href="/">home</a> <br/>
<a href="/logout">logout here</a>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
  $.get( "api/v1/carriers", function( data ) {
  var str = JSON.stringify(data);
  $( "#main" ).html(str);
  console.log(data);
  console.log( "Load was performed." );
  });
  console.log('runs?')
</script>
</body>
</html>
